/***********************/
/* grid */
/***********************/

.grid {
  display: grid;
}

.header--grid {
  grid-template-columns: repeat(2, 1fr);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  align-items: center;
  @media (max-width: 1100px) {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
  }

  @media (max-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
  }
}

.hero--grid {
  grid-template-columns: repeat(2, 1fr);
  padding: 8rem 0;
  gap: 2rem;

  @media (max-width: 1100px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 4rem 0;
  }

  @media (max-width: 500px) {
    gap: 0;
  }
  @media (max-width: 400px) {
    gap: 2rem;
  }
}

.aboutUs--grid {
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
  margin-bottom: 5rem;
  gap: 5rem;

  @media (max-width: 1100px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 4rem 0;
    margin-top: 4rem;
    gap: 0;
  }

  @media (max-width: 750px) {
    margin-top: 3rem;
    gap: 1rem;
  }
  @media (max-width: 400px) {
    margin-top: 1rem;
  }
}

.product--grid {
  // grid-template-columns: repeat(
  //   auto-fit,
  //   minmax(clamp(200px, 25vw, 250px), 1fr)
  // );
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: 2rem;

  @media (max-width: 1100px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  @media (max-width: 650px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}

.grid--3--container {
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(200px, 25vw, 250px), 1fr)
  );
  gap: 0.8rem;
  margin-bottom: 0.8rem;

  @media (max-width: 1200px) {
    .gallery--mid {
      grid-column: 1 / span 2;
      justify-self: center;
      width: 55%;
    }

    .news--mid {
      grid-column: 1 / span 2;
      justify-self: center;
      width: 55%;
    }
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

    .gallery--mid {
      grid-column: 1;
      justify-self: stretch;
      width: 100%;
    }

    .news--mid {
      grid-column: 1;
      justify-self: stretch;
      width: 100%;
    }
  }
}

.grid--2--container {
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(200px, 25vw, 250px), 1fr)
  );

  gap: 0.8rem;
  margin-bottom: 0.8rem;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

.grid--4--container {
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.contact--grid {
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.cart--grid {
  grid-template-columns: 1fr;
  gap: 1rem;
  max-height: 30rem;
  overflow-y: scroll;
}

.cart__product {
  grid-template-columns: repeat(4, 1fr);
  max-height: 8rem;
  gap: 3rem;
  align-items: center;

  @media (max-width: 1100px) {
    gap: 2rem;
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 500px) {
    gap: 1rem;
  }

  img {
    width: 80%;

    @media (max-width: 1000px) {
      display: none;
    }
  }
}
