// .auto-grid {
//     --auto-grid-min-size: 16rem;

//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
//     grid-gap: 1rem;

.grid {
  display: grid;
}

.header--grid {
  grid-template-columns: repeat(2, 1fr);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  align-items: center;
}

.aboutUs--grid {
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
  margin-bottom: 5rem;
  gap: 5rem;
}

.product--grid {
  grid-template-columns: repeat(4, 1fr);
}
