// ************COLORS********************
// ***************************************
$primary: #207200;
$seconday: #fff;
$tertiary: #1a2428;

// ************FONTS********************
// ***************************************
$heading-font: "Lora", serif;
$body-font: "Barlow", sans-serif;

$regular: 400;
$semiBold: 600;
$bold: 700;
$black: 900;
