@use "mixins" as *;

.wrapper {
  margin-inline: auto;
  max-width: 1300px;
  width: 70%;

  // @include breakpoint(small) {
  //   background-color: blueviolet;
  // }
}
/* margin-inline for horizontal centering */
